<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABMRE4fl8v-FO_spSOHILPduDrQixi4ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>617432024008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collageFirebase</string>
	<key>PROJECT_ID</key>
	<string>collagefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>collagefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617432024008:ios:427ec2f5404259e68636fd</string>
	<key>DATABASE_URL</key>
	<string>https://collagefirebase-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>